# SPDX-FileCopyrightText: 2011-2025 Sébastien Helleu <flashcode@flashtux.org>
#
# SPDX-License-Identifier: GPL-3.0-or-later

*.pyc
*.pyo
MANIFEST
build/*
dist/*
qweechat.egg-info/*
src/qweechat.egg-info/*
