# SPDX-FileCopyrightText: 2014-2025 Sébastien Helleu <flashcode@flashtux.org>
#
# SPDX-License-Identifier: GPL-3.0-or-later
#
# Map author and committer names and email addresses to canonical real names
# and email addresses.
#
# For example with these commands:
#   git shortlog -nse
#   git shortlog -se | cut -f2 | sort

Sébastien Helleu <flashcode@flashtux.org>
